<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Student details</h1>
    Student id : {{studentId}} <br>
    Student name : {{studentName}} <br>
    Results:

    <li> Maths marks : {{mathsMarks}} </li>
    <li> Science marks : {{scienceMarks}} </li>
    <li> English marks : {{englishsMarks}} </li>
    <li> Total marks : {{totalMarks}} </li>
    <h4>You have PASS</h4>

</body>

</html>